.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.search-bar {
  padding: 12px 12px 12px 40px; 
  margin-bottom: 25px;
  border: 2px solid #242222;
  border-radius: 11px;
  width: 460px;
  font-size: 17px;
  box-shadow: 0 1px 6px #000;
  transition: background-color 0.3s ease, width 0.3s ease;

  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" fill="%236C6C6D"/></svg>');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 24px 24px;
  outline: none;
  padding-left: 40px;

  color: white;
  background-color: #111111;
  text-align: left;
  position: relative; 
}

.ssearch-icon {
position: absolute;
top: 50%;
left: 15px; 
transform: translateY(-50%);
width: 24px;
height: 24px;
fill: white; 

}
.search-bar::placeholder {
  color: white;
  opacity: 0.7;
}

.search-bar:hover {
  background-color: #1a1a1a;
  width: 480px;
}
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

.box {
  display: inline-block;
  position: relative;
  width: 225px;
  height: 130px;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 0px 5px #000;
  transition: border-color 0.3s ease;
}

.box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.box:hover {
border-color: #c93131; 
}


.box-text {
  position: absolute;
  bottom: 6px; 
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5); 
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2; 
}

.box::before {
content: '';
position: absolute;
bottom: -10px; 
left: 0;
width: 100%;
height: 60%; 
background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%); 
border-radius: 0 0 8px 8px;
transition: opacity 0.3s ease;
opacity: 0;
z-index: 1; 
}

.box:hover::before {
opacity: 1; 
}

.box:hover .box-text {
opacity: 1;
}

.box:hover .box-image {
filter: brightness(80%); 
}
