    h1 {
       margin-bottom: 2px; 
    }

    .container {
        text-align: center;
    }

    .search-image {
        max-width: 130px;
        margin-bottom: 7px;
        cursor: pointer; 
    }

.search-wrapper {
    position: relative;
    display: inline-block; 
    
}

.search-bar {
    padding: 12px 10px 12px 50px; 
    margin-bottom: 25px;
    border: 2px solid #212121;
    border-radius: 11px;
    width: 510px;
    font-size: 17px;
    box-shadow: 0 1px 5px #000;
    transition: background-color 0.3s ease, width 0.3s ease;
    color: white;
    background-color: #111111;
    outline: none;
    text-align: left;
}

.search-icon {
    position: absolute;
    top: 32%;
    left: 18px; 
    transform: translateY(-50%);
    color: white;
    font-size: 16px;
    opacity: 0.7;
    pointer-events: none;
}

.search-bar:hover {
    background-color: #1A1A1A;
    width: 540px;
}

.search-bar::placeholder {
    color: white;
    opacity: 0.7;
}

.search-bar:focus {
    background-color: #1A1A1A;
}


    .circle-container {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }

    .circle {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #212121;
        position: relative;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 0 15px;
    }

    .circle::before {
        content: '';
        position: absolute;
        border-radius: 5px;
        top: -5px;
        left: -14px;
        width: 77px;
        height: 80px;
        background-color: rgba(255, 255, 255, 0.2);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 0; 
    }

    .circle:hover::before {
        opacity: 1;
    }

    .circle img {
        width: 35px;
        height: 35px;
        border-radius: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; 
    }

    .circle-text {
        color: #fff;
        font-size: 14px;
        position: absolute;
        bottom: -23px;
        width: 100%;
        opacity: 1;
        text-align: center;
        z-index: 1; 
    }