    h1 {
       margin-bottom: 2px; 
    }

    .container {
        text-align: center;
    }

    .search-image {
        max-width: 130px;
        margin-bottom: 7px;
        cursor: pointer; 
    }

.search-wrapper {
    position: relative;
    display: inline-block; 
    
}

.search-bar {
    padding:12px 10px; 
    margin-bottom: 25px;
    border: 2px solid #212121;
    border-radius: 9px;
    width: 510px;
    font-size: 17px;
    box-shadow: 0 1px 5px #000;

 background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" fill="%236C6C6D"/></svg>');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 24px 24px;
  outline: none;
  padding-left: 40px;
    
    transition: background-color 0.3s ease, width 0.3s ease;
    color: white;
    background-color: #111111;
    outline: none;
    text-align: left;
}

.search-icon {
    position: absolute;
    top: 32%;
    left: 18px; 
    transform: translateY(-50%);
    color: white;
    font-size: 16px;
    opacity: 0.7;
    pointer-events: none;
}

.search-bar:hover {
    background-color: #1A1A1A;
    width: 540px;
}

.search-bar::placeholder {
    color: white;
    opacity: 0.7;
}

.search-bar:focus {
    background-color: #1A1A1A;
}

.circle-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    position: relative;
    margin-bottom:20px;
}

.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #212121;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 15px;
}

.circle::before {
    content: '';
    position: absolute;
    border-radius: 5px;
    top: -5px;
    left: -14px;
    width: 77px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
}

.circle:hover::before {
    opacity: 1;
}



.circle img {
    width: 35px;
    height: 35px;
    border-radius: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.circle-text {
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: -23px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.remove-btn {
    position:relative;
    cursor: pointer;
    width: 15px;
    height:15px;
    top: 15px;
    right:18px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.remove-btn img {
    width:15px;
}

.remove-btn::before {
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
}

.remove-btn:hover::before {
    opacity:1;
}
