.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    min-height: 100vh;
    padding-left: 80px; 
    padding-right: 20px; 
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px 15px; 
    justify-items: center; 
    margin: 0 auto;
}

.box, .box2 {
    width: 370px;  
    height: 255px;
    background-color: #;
    border: 2px solid #242222;
    border-radius: 6px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px;
    text-align: center;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.box h2, .box2 h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 0px;
}

.box p, .box2 p {
    color: #999;
    font-size: 14px;
}


 canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

  .switch {
      position: relative;
      display: inline-block;
      margin-left: 10px; 
      width: 60px;
      height: 35px;
  }

  .switch input {
      opacity: 0;
      width: 0;
      height: 0;
  }

  .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #464647;
      transition: .4s;
      border-radius: 34px;
  }

  .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
  }

  input:checked + .slider {
      background-color: #C93131;
      box-shadow: 0 0 10px #C93131;
  }

  input:checked + .slider:before {
      transform: translateX(26px);
  }

  .slider.round {
      border-radius: 34px;
  }

  .slider.round:before {
      border-radius: 50%;
  }


  .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-box {
        width: 50px;
        height: 50px;
        margin: 7px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
        border-radius: 6px;
        border: 2px solid #242222;
        box-shadow: 0 0 4px #000;
        background-color: #111111;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-box img {
        max-width: 70%;
        max-height: 70%;
        display: block;
    }

    .image-box:hover {
       border: 2px solid #343436;
       box-shadow: 0 0 8px #C93131;
    }

    .image-box::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.2);
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: transform 0.5s ease-in-out, border 0.5s ease-in-out;
        opacity: 0;
        pointer-events: none;
    }

    .image-box.clicked::before {
        transform: translate(-50%, -50%) scale(10);
        opacity: 1;
    }

        .buttoncontainer {
          display: flex;
          align-items: center;
          padding: 10px;
          border-radius: 8px;
      }

      #panicKeyDisplay {
          color: #fff;
          font-weight: bold;
          font-size: 24px;
          border: 2px solid #242222;
          padding: 6px;
          width: 28px;
          background: #111111;
          border-radius: 5px;
          transition: color 0.3s;
          display: inline-block;
          text-align: center; 
          box-shadow: 0 0 4px #000;
          margin: 0 7px; 

   }

      button {
          background-color: #111111;
          color: #fff;
          border: 2px solid #242222;
          padding: 13px 15px;
          border-radius: 5px;
          cursor: pointer;
          box-shadow: 0 0 4px #000;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
      }

      button:hover {
          box-shadow: 0 0 12px #C93131;
      }


   button2 {
          background-color: #111111;
          color: #fff;
          border: 2px solid #242222;
          padding: 13px 15px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 13px;
          box-shadow: 0 0 4px #000;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
      }

      button2:hover {
          box-shadow: 0 0 12px #C93131;
      }


  .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #000;
          z-index: 999;
          display: none;
          opacity: 0;
          transition: opacity 0.3s;


      }

.search-popup {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #111111;
border: 3px solid #242222;
box-shadow: 0 0px 15px #000;
padding: 40px;
height: 180px;
border-radius: 5px;
box-shadow: 0px 1px 10px #000;
z-index: 1000;
display: none;
width: 300px;
opacity: 0;
transition: opacity 0.3s, transform 0.3s;
}

.popup-input {
width: 88%;
padding: 10px;
margin-bottom: 10px;
border: 2px solid #242222;
box-shadow: 0 0 4px #000;
background-color: #111111;
color: #fff;
border-radius: 5px;
outline: none;
transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.popup-input:hover {
background-color: #1f1f1f; 
}

       .popup-input::placeholder {
          color: #fff;
      }

      .popup-buttons {
          display: flex;
          justify-content: space-between;
      }


  .popup-visible {
display: block;
opacity: 1;
}    


      .popup-buttons {
          display: flex;
          justify-content: center; 
      }

      .popup-button {
          border: 2px solid #343436;
          box-shadow: 0 0 4px #000;
          margin-top: 8px;
          color: #fff;
          border: none;
          padding: 10px 15px;
          border-radius: 5px;
          cursor: pointer;
          margin-left: 8px;
          transition: box-shadow 0.3s ease;
          border: 2px solid #333;
      }

      .popup-button:hover {
      }

      .broken {
        color: #FF000D;
      }  

  b {
    font-size: 20px; 
  }

#notification {
    position: fixed;
    top: 20px;
    right: -300px; 
    background-color: #28a745;
    color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
    transition: transform 0.5s ease, right 0.5s ease;
}



#notification.shake {
    animation: rockingShake 0.5s ease-in-out;
}

  #bareSelect {
    border: 2px solid #242222;
    background-color: #111111;
    color: white;
    box-shadow: 0 0 5px #000;
    padding: 6px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease; 
    outline: none; 
  }

  #bareSelect:hover, 
  #bareSelect:focus { 
    box-shadow: 0 0 5px #C93131; 
    outline: none; 
  }

  #bareSelect option {
    background-color: #111111;
    color: white; 
  }

.download-btn {
  background-color: #111111;
  color: #ffffff;
  border: 2px solid #242222;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 4px #000;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  gap: 8px; 
  transition: all 0.3s ease;
}

.download-btn:hover {
  background-color: #242222;
  box-shadow: 0 6px 6px #000;
}
